.header-container {
  padding-top: 0.5rem;
  position: relative;
}

.home-button,
.menu-button {
  background-color: transparent;
  font-size: 1.25rem;
  position: absolute;
  color: #333;
  cursor: pointer;
}

.home-button:hover,
.menu-button:hover {
  color: #007bff;
}

.home-button {
  left: 0;
}

.menu-button {
  left: 2rem;
}

.header-title {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 0.25rem;
}

.dropdown button {
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.dropdown button.active {
  background-color: #f0f0f0;
}

.dropdown button:hover {
  background-color: #ccc;
}
